@import 'slick/slick-theme.less';
@import 'slick/slick.less';
@import '_navigation_extend.less';


& when (@media-common =true) {


    @font-lora-regular: "Lora-Regular";
    @font-roboto-bold: "Roboto-Bold";
    @font-roboto-regular: "Roboto-Regular";
    @color-green-default: #22b725;
    @color-green-standard: #11ab15;
    @color-red-validate: #ed1313;

    //default button
    button {

        letter-spacing: -1px;
        border-radius: 0;
        text-transform: uppercase;
        .lib-button(@_button-background: @color-green-default,
            @_button-background-active: @color-green-standard,
            @_button-font-family: "Roboto-Bold",
            @_button-color: @color-white,
            @_button-color-hover: @color-white,
            @_button-color-active: @color-white,
            @_button-border: 1px solid @color-green-default,
            @_button-font-size: 13px);

        &:hover,
        &.active {
            background: @color-green-standard;
        }

        &:visited {
            background: @color-green-standard;
            color: @color-white;
        }

        //standard button
        &.standard-button,
        &.action.tocart.primary {

            .lib-button(@_button-background: @color-white,
                @_button-color: @color-black,
                @_button-border: 1px solid @color-black,
                @_button-color-hover: @color-white,
                @_button-background-hover: @color-black,
                @_button-font-family: @font-roboto-bold,
                @_button-color-active: @color-white,
                @_button-background-active: @color-black);
        }

        //standard balck button
        &.standard-button-black {
            .standard-button;
            .lib-button(@_button-background: @color-black,
                @_button-color: @color-white,
                @_button-background-hover: @color-white,
                @_button-color-hover: @color-black)
        }
    }

    // input field
    input,
    select,
    textarea {
        .lib-form-element-color(@_background: @color-white,
            @_border-color: #ddd,
            @_color: @color-black,
            @_focus-color: @color-black,
            @_focus-border-color: #ddd);
    }

    input[type='checkbox'],
    input[type="radio"] {
        visibility: hidden;
    }

    label {
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]+label:before,
    input[type="radio"]+label:before {
        border: 1px solid #ddd;
        content: "";
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 0;
        vertical-align: top;
        width: 20px;
        height: 20px;
    }

    input[type="radio"]:checked+label:after {
        background: #333;
        color: @color-white;
        content: "";
        text-align: center;
    }

    input[type="checkbox"]:checked+label:before {
        background: white;
        color: @color-black;
        content: "\2713";
        text-align: center;
        font-size: 20px;
    }

    input[type="radio"]+label:before {
        border-radius: 50%;
        vertical-align: baseline;
    }

    input[type="radio"]:checked+label:after {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        left: 0;
        margin: 7px;
        border-radius: 50%;
    }

    h1 {
        font-family: @font-lora-regular;
        font-size: 32px;
    }

    h2 {
        font-family: @font-lora-regular;
        font-size: 24px;
    }

    h3 {
        font-family: @font-lora-regular;
        font-size: 18px;
    }

    h4 {
        font-family: @font-roboto-bold;
        font-size: 15px;
    }

    a {
        font-family: @font-roboto-regular;
        color: #333;
        cursor: pointer;

        &:hover {
            color: #777;
        }
    }

    body {
        font-family: @font-roboto-regular;
        font-size: 13px;
        line-height: 20px;
        color: #333;
    }

    input[type=text],
    select {
        box-sizing: border-box;
        font-size: 13px;
        line-height: 30px;
        color: #333;
        font-family: @font-roboto-regular;
        text-align: left;
        padding: 0 13px;
        letter-spacing: 0.5px;

        &:focus {
            box-shadow: none;
        }
    }

    select:not([disabled]):focus {
        box-shadow: none;
    }

    select {
        padding: 0 9px;
    }

    input.mage-error,
    select.mage-error,
    textarea.mage-error {
        border-color: @color-red-validate;

    }

    div.mage-error {
        color: @color-red9;
    }

    .example-message-success {
        .lib-message(success);
    }

    .example-message-error {
        .lib-message(error);
    }
}
