@import 'slick/slick-theme.less';
@import 'slick/slick.less';
@import '_navigation_extend.less';

& when (@media-common =true) {

    //default
    body {
        .lib-css(font-family, @font-roboto-regular);
        .lib-css(font-size, @font-size13);
        .lib-css(line-height, @size-20px);
        .lib-css(color, @color-333);
    }

    h1 {
        .lib-css(font-family, @font-lora-regular);
        .lib-css(font-size, @font-size32);
    }

    h2 {
        .lib-css(font-family, @font-lora-regular);
        .lib-css(font-size, @font-size24);
    }

    h3 {
        .lib-css(font-family, @font-lora-regular);
        .lib-css(font-size, @font-size18);
    }

    h4 {
        .lib-css(font-family, @font-roboto-bold);
        .lib-css(font-size, @font-size15);
    }

    a {
        .lib-css(font-family, @font-roboto-regular);
        .lib-css(color, @color-333);
        .lib-css(cursor, pointer);

        &:hover {
            .lib-css(color, @color-777);
        }
    }

    // button
    button {
        .lib-css(border-radius, 0);
        .lib-css(text-transform, uppercase);
        .lib-button(@_button-background: @color-green-default,
            @_button-background-active: @color-green-standard,
            @_button-font-family: @font-roboto-bold,
            @_button-color: @color-white,
            @_button-color-hover: @color-white,
            @_button-color-active: @color-white,
            @_button-border: 1px solid @color-green-default,
            @_button-font-size: 13px,
            @_button-background-hover: @color-green-standard);

        &:hover,
        &.active {
            background: @color-green-standard;
        }

        &:visited {
            background: @color-green-standard;
            color: @color-white;
        }

        //standard button
        &.standard-button,
        &.action.tocart.primary {

            .lib-button(@_button-background: @color-white,
                @_button-color: @color-black,
                @_button-border: 1px solid @color-black,
                @_button-color-hover: @color-white,
                @_button-background-hover: @color-black,
                @_button-font-family: @font-roboto-bold,
                @_button-color-active: @color-white,
                @_button-background-active: @color-black);
        }

        //standard balck button
        &.standard-button-black {
            .standard-button;
            .lib-button(@_button-background: @color-black,
                @_button-color: @color-white,
                @_button-background-hover: @color-white,
                @_button-color-hover: @color-black,
                @_button-border: 1px solid @color-white)
        }
    }

    // input field
    input,
    select,
    textarea {
        .lib-form-element-color(@_background: @color-white,
            @_border-color: #ddd,
            @_color: @color-black,
            @_focus-color: @color-black,
            @_focus-border-color: #ddd);
    }

    input[type='checkbox'],
    input[type="radio"] {
        visibility: hidden;
    }

    label {
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]+label:before,
    input[type="radio"]+label:before {
        border: 1px solid #ddd;
        content: "";
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 0;
        vertical-align: top;
        width: 20px;
        height: 20px;
    }

    input[type="radio"]:checked+label:after {
        background: #333;
        color: @color-white;
        content: "";
        text-align: center;
    }

    input[type="checkbox"]:checked+label:before {
        background: white;
        color: @color-black;
        content: "\2713";
        text-align: center;
        font-size: 20px;
    }

    input[type="radio"]+label:before {
        border-radius: 50%;
        vertical-align: baseline;
    }

    input[type="radio"]:checked+label:after {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        left: 0;
        margin: 7px;
        border-radius: 50%;
    }

    h1 {
        font-family: @font-lora-regular;
        font-size: 32px;
    }

    h2 {
        font-family: @font-lora-regular;
        font-size: 24px;
    }

    h3 {
        font-family: @font-lora-regular;
        font-size: 18px;
    }

    h4 {
        font-family: @font-roboto-bold;
        font-size: 15px;
    }

    a {
        font-family: @font-roboto-regular;
        color: #333;
        cursor: pointer;

        &:hover {
            color: #777;
        }
    }

    body {
        font-family: @font-roboto-regular;
        font-size: 13px;
        line-height: 20px;
        color: #333;
    }

    input[type=text],
    select {
        box-sizing: border-box;
        font-size: 13px;
        line-height: 30px;
        color: #333;
        font-family: @font-roboto-regular;
        text-align: left;
        padding: 0 13px;

        &:focus {
            box-shadow: none;
        }
    }

    select:not([disabled]):focus {
        box-shadow: none;
    }

    select {
        padding: 0 9px;
    }

    input.mage-error,
    select.mage-error,
    textarea.mage-error {
        .lib-css(border-color, @color-red-validate);
    }

    div.mage-error {
        color: @color-red9;
    }

    .message-success {
        .lib-message(success);
        .lib-css(background, @color-white);
        .lib-css(border, solid 1px @color-green-message );
        .lib-css(text-align, center);
        .lib-css(color, @color-green-message);
    }

    .message-error {
        .lib-message(error);
        .lib-css(background, @color-white);
        .lib-css(border, solid 1px @color-red-validate );
        .lib-css(text-align, center);
    }

    // cms block
    .row {
        .lib-css(margin, 0 -10px);
        .lib-css(display, flex);

        .col {
            .lib-css(margin, 10px);
            .lib-css(position, relative);

            .col-content {
                .lib-css(text-align, center);
                .lib-css(position, absolute);
                .lib-css(top, 50%);
                .lib-css(left, 50%);
                .lib-css(width, 100%);
                .lib-css(transform, translate(-50%, -50%));
                .lib-css(text-transform, uppercase);

                a {
                    .lib-css(font-family, @font-lora-bold);
                }
            }
        }

    }

    //navigation tab
    .navigation-tab,
    .product.data.items {
        .lib-data-tabs(@_tab-control-font-family: @font-roboto-bold,
            @_tab-control-font-size: @font-size13,
            @_tab-control-font-weight: @font-weight-700,
            @_tab-control-line-height: @size-20px,
            @_tab-control-background-color: @color-f9,
            @_tab-control-color-active: @color-2d,
        );

        &.navigation-tab>.item.content,
        &.product.data.items>.item.content {
            .lib-css(border, @size-1px solid @color-d1);
        }
    }
}
