@import 'slick/slick-theme.less';
@import 'slick/slick.less';

@font-lora-regular: "Lora-Regular";
@font-roboto-bold: "Roboto-Bold";
@font-roboto-regular: "Roboto-Regular";
//default button
button {
    padding:10px 20px;
    font-size: 13px !important;
    text-transform: uppercase;
    .lib-button(@_button-background: #22b725,
                @_button-background-active:  #11ab15,
                @_button-font-family: "Roboto-Bold",
                @_button-color: #fff,
                @_button-color-hover: #fff,
                @_button-color-active: #fff);
    &:hover,
    &.active {
        background: #11ab15;
    }
    &:visited{
        background: #11ab15;
        color: #fff;
    }
    //standard button
    &.standard-button{
        .lib-button(@_button-background:#fff,
                    @_button-color: black,
                    @_button-border: 1px solid black,
                    @_button-color-hover: #fff,
                    @_button-background-hover: black,
                    @_button-font-family: "Roboto-Bold",
                    @_button-color-active: #fff,
                    @_button-background-active: black
                    );
    }
    &.back-button{
        padding:10px 20px;
        .lib-button(@_button-background:#2d2d2f,
                    @_button-color: #fff,
                    @_button-border: 1px solid #2d2d2f,
                    @_button-color-hover: #2d2d2f,
                    @_button-background-hover: #fff,
                    @_button-font-family: "Roboto-Bold",
                    @_button-color-active: #2d2d2f,
                    @_button-background-active: #fff
                    );
    }
}

input[type='checkbox'],input[type="radio"]{
    visibility:hidden;
}
label {
  cursor: pointer;
  position:relative;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before{
  border: 1px solid #333;
  content: "";
  display: inline-block;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before ,input[type="radio"]:checked + label:after {
  background: #333;
  color: #fff;
  content: "\2713";
  text-align: center;
}

input[type="radio"] + label:before{
    border-radius:50%;
    vertical-align: baseline;
    border-radius:50%;
  }
  input[type="radio"]:checked + label:after {
    content: "";
    width:8px;
    height:8px;
    position:absolute;
    left:0;
    margin:5px;
    border-radius:50%;
  }