@font-lora-bold: "Lora-Bold";
@font-lora-regular: "Lora-Regular";
@font-roboto-bold: "Roboto-Bold";
@font-roboto-regular: "Roboto-Regular";
@font-market-regular: "market-regular";
@font-roboto-medium: "Roboto-Medium";
@font-opensans-bold: "OpenSans-Bold";
@font-weight-700: 700;
@font-size32: 32px;
@font-size24: 24px;
@font-size18: 18px;
@font-size16: 16px;
@font-size15: 15px;
@font-size13: 13px;
@font-size12: 12px;
@font-size11: 11px;
@font-size10: 10px;
@size-10px: 10px;
@size-11px: 11px;
@size-12px: 12px;
@size-13px: 13px;
@size-14px: 14px;
@size-16px: 16px;
@size-19px: 19px;
@size-20px: 20px;
@size-30px: 30px;
@size-1px: 1px;
@size-36px: 36px;
@color-green-default: #22b725;
@color-green-standard: #11ab15;
@color-green-message: #68c524;
@color-red-validate: #ed1313;
@color-f8: #f8f8f8;
@color-a9: #a9a9a9;
@color-333: #333;
@color-777: #777;
@color-a7: #a7a7a7;
@color-f9: #f9f9f9;
@color-2d:  #2d2d2d;
@color-d1: #d1d1d1;
@color-ddd: #ddd;
@color-000: #000;
@color-fff: #fff;
